<div class="jumbotron">
  <div class="title"><h1>Openings</h1></div>
  <p class="slogan">Don't fall asleep on your career.</p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">OPEN IT</a></p>
</div>



<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="comment_text">
              <p class="comment">在这个变化莫测的行业里去啃「培训」业务的，都是好汉——他们耗费心力将杂乱线索捋成一门学问，相信授业解惑的力量。愿有可能学院成为每个互联网从业者的良师益友。</p>
          </div>
          <div class="comment_profile">
              <img src="https://o84ufofgw.qnssl.com/img_comment_jishisan.jpg" width="162" height="162" alt="姬十三" draggable="false">
              <dl class="comment_dsc">
                  <dt class="name">姬十三</dt>
                  <dd>果壳网创始人</dd>
                  <dd>新世相联合创始人</dd>
              </dl>
        </div>
    </div>
    <div class="item">
      <div class="comment_text">
          <p class="comment">我们身处一个终生都需要学习的时代。在我看来，职业教育值得做的细分领域还有很多，潜在需求和市场空间还有很大，可以切入的点也不少。我了解这个团队的能力，相信他们在这个领域有无限可能。</p>
      </div>
      <div class="comment_profile">
          <img src="https://o84ufofgw.qnssl.com/youkeneng/img_comment_feng.jpg" width="162" height="162" alt="冯大辉" draggable="false">
          <dl class="comment_dsc">
              <dt class="name">冯大辉</dt>
              <dd>丁香园前 CTO</dd>
              <dd>「小道消息」作者</dd>
          </dl>
      </div>
    </div>
    <div class="item">
      <div class="comment_text">
          <div class="comment">
              <p>阿禅和夏炎是我认识近 10 年的朋友，他们是优秀的产品经理、充满好奇心的 geek、对自己有极高要求的创业者。</p>
          </div>
      </div>
      <div class="comment_profile">
          <img src="https://o84ufofgw.qnssl.com/youkeneng/img_comment_yang.jpg" width="162" height="162" alt="杨远骋" draggable="false">
          <dl class="comment_dsc">
              <dt class="name">杨远骋</dt>
              <dd>新世相联合创始人</dd>
              <dd>聚美优品前移动事业部总经理</dd>
          </dl>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
