<div class="jumbotron">
  <div class="title"><h1>Openings</h1></div>
  <p class="slogan">Don't fall asleep on your career.</p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">OPEN YOUR EYES</a></p>
</div>
