<div class="jumbotron">
  <h1 class="title">Openings</h1>
  <p class="slogan">Don't fall asleep on your career.</p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">OPEN YOUR EYES</a></p>
</div>
