<footer class="container" style="margin-top: 100px;">
  <div class="inner text-center">
      <div class="ft_content">
          <div class="ft_about">
              <h2>About Us</h2>
              <div class="about">
                  <p>Hunting for a job is your job now!</p>
                  <p>See you future, open your eyes.</p>
              </div>
          </div>
          <div class="ft_wrap">
              <div class="weixin">
                  <img class="code_img" src="https://o84ufofgw.qnssl.com/youkeneng/ykn_code.jpg?imageView2/1/interlace/1" width="113" alt="有可能学院微信公众号">
                  <p class="txt" style="margin-top: 8px;color: #898989;">Debug it, if Like it, Support me. Appreciated.</p>
              </div>

          </div>
      </div>
    <div class="ft_copy">© 2017 Openings ICP</div>
  </div>
</footer>
